<link rel="stylesheet" href="styles/shares.css">
<link rel="stylesheet" href="styles/restaurants.css">
<title>
    <%= mytitle %>
</title>
<%- include('includes/header') %>
    <main>
        <h1>Recommended restaurants</h1>
        <p>Find your next favorite restaurants with help of our other users!</p>
        <p>
            Number of restaurant found : <%= numberOfRestaurants %>
        </p>

        <!-- <div class="restaurants-box">
            <h3 id="restaurant-title">Restaurant Title</h3>
            <p class="restaurant-text">county</p>
            <p class="restaurant-text">address</p>
            <p id="restaurant-description">description</p>
            <p id="button"><button>View Website</button></p>
        </div> -->
        <form action="/restaurants" method="GET">
            <input type="hidden" value="<%= nextOrder %>" name="order">
            <button>Change Order</button>
        </form>

        <% for(const restaurant of storedRestaurants){ %>
            <div class="restaurants-box">
                <h3 id="restaurant-title">
                    <%= restaurant.name %>
                </h3>
                <p class="restaurant-text">
                    <%= restaurant.cusinetype %>
                </p>
                <p class="restaurant-text">
                    <%= restaurant.address %>
                </p>
                <p id="restaurant-description">
                    <%= restaurant.review %>
                </p>
                <p id="button"><button><a href="/restaurants/<%= restaurant.id %>">More detail...</a></button></p>
            </div>
            <br>
            <%} %>
    </main>
    <%- include('includes/footer') %>
        </body>

        </html>
