<link rel="stylesheet" href="/styles/shares.css">
<link rel="stylesheet" href="/styles/restaurants.css">
<title>
    <%= mytitle %>
</title>
<%- include('includes/header') %>
    <main>
        <h1>
            <%= restaurant.name %>
        </h1>

        <div class="restaurants-box">
            <p class="restaurant-text">
                <%= restaurant.address %>
            </p>
            <p class="restaurant-text">
                <%= restaurant.cusinetype %>
            </p>
            <p id="restaurant-description">
                <%= restaurant.review %>
            </p>
            <p id="button"><button><a href="<%= restaurant.website %>">View Website</a></button>
            </p>
        </div>
    </main>
    <%- include('includes/footer') %>
        </body>

        </html>